:root {
    --red: #fa6262;
    --blue: #cae9f2;
    --bg-gray: #fbfbfb;
    --yellow: #fffacc;
    --green: #e2efc7;
    --pink: #efc7c7;
    --font-color: #000;
    --blue-solid: #a1dbed;
    --green-solid: #d4eda1;
  }

.headers {
    display: flex;
    justify-content: space-between;
    background-color: papayawhip;
    height:100px;
    width:100%;
  }

  .head-left {
    color:red;
  }

  .head-left h1 {
    padding:7px;
  }

  .head-right {
    font-size:20px;
    align-items: center;
  }

.container {
    background-color: pink;
    display:flex;
    padding:15px;
  }

  .con-left {
    width:60%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    gap:15px;
  }

  .con-right {
    width:40%;
  }

.notes {
    background-color: #d4eda1;
    width:347px;
    height:332px;
    border-radius:12px;
    position: relative;
   }

   .notes-tags {
    display: flex;
    width:70%;
    /**flex-wrap:wrap; **/
    flex-direction: row;
    background-color: yellow;
    
    font-size: 17px;
    /**align-items:center;
    justify-content: center;**/
    padding:2px;
    gap:20px;
   }

   .notes h2 {
    background-color: #fa6262;
    font-size:28px;
    font-family:poppins;
   }

   .notes p {
    background-color: green;
    padding:5px;
    font-size: 20px;
    margin-top:-3px;
   }

   .arrow {
    background-color:#ff7b7b;
    height:35px;
    width:35px;
    position:absolute;
    right:0;
    bottom:0;
    border-radius: 0 0 12px 0;

    display:flex;
    align-items: center;
    justify-content: center;
   }

.sidebar {
    background-color:white;
    right:0;
    padding:5px;
  }

 .sidebar h1 {
    font-size: 45px;
    font-family: poppins;
    margin-top:-10px;
}

 .sidebar p {
    width:360px;
    height:128px;
    font-size: 18px;
}

 .sidebarButtons {
    display:flex;
    gap:20px;
    margin-top:-30px;
}

 .firstButton {
    background-color: #cae9f2;
    height:35px; 
    width:30%; 
    border-radius: 10px; 
    display:flex; 
    padding:4px; 
    align-items: center;
    justify-content: center;
    position: relative;
 }

 .secondButton {
    background-color: #e2efc7;
    height:35px; 
    width:30%; 
    border-radius: 10px; 
    display:flex; 
    padding:4px; 
    align-items: center;
    justify-content: center;
    position: relative;
 }

.arrow-black {
    position:absolute;
    display:flex;
    justify-content:center;
    align-items: center;
    right:0;
    height:35px;
    width:30px;
    padding:5px;
    border-radius:10px;
}

